<div class=side-menu>
  <%= link_to 'タスク作成', root_path%>
</div>
<div class=side-menu>
  <%= link_to '期限が1週間以内のタスク', "#"%>
</div>
<div class=side-menu>
  <%= link_to '完了済みのタスク', "#"%>
</div>
<div class=side-menu>
  <%= link_to 'スペースの作成', new_space_path %>
</div>
<div class="space-menu">
  <div class="space-menu-content">スペース一覧</div>
  <% spaces.each do |s| %>
    <div class="side-space-name"><%= link_to "#{s.name}", space_path(s.id) %></div>
  <% end %>
</div>
